.c-header
  position: fixed
  background: #000
  top: 0
  left: 0
  right: 0
  z-index: 1
  
  .name
    font-size: 100px
    font-weight: 600
    color: #fff
    text-align: center
    line-height: 200px
